<!-- <section class="container container-instagram">
    <div class="row"> -->
        <!-- <div class="col-md-12"> -->
        <div class="container" style="margin-top:20px">
            <h1>Portfolio</h1>
        </div>
        <p></p> 

        <div class="container projectcontainer" >
            {% for project in site.data.projects %}
            <!-- class="col-md-5 col-sm-12" -->
            
            <div class="proj">
                {% if project.url != null %}
                <a href="{{ project.url }}" target="blank">
                {% endif %}
                    <h4 class="project-heading"> {{ project.title }} </h4>
                {% if project.photo != null %}
                <img class="full-width-center" src="web-dist/images/projects/{{ project.photo }}" />
                {% endif %}
                {% if project.url != null %}
                </a>
                {% endif %}
                <p class="project-description">{{ project.description}} </P>

            </div>
            
            {% endfor %}


            <!--
            <div class="col-md-12">
                <!-- Generate such a widget at snapwidget.com for your name -->
                <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <!--
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/{{ site.snapwidget }}" class="snapwidget-widget" allowTransparency="true"
                        frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
            </div>
        -->
        </div>
   <!--  </div>
</section> -->